/* src/tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme__dark {
  --text: #FFFFFF;
  --light: #E7E5E4;
  --medium: #78716C;
  --dark: #44403C;
  --darker: #292524;
}
.theme__light {
    --text: #000000;
    --light: #F8FAFC;
    --medium: #F1F5F9;
    --dark: #E2E8F0;
    --darker: #CBD5E1;
}